/*Animation*/

.background{
	position: relative;
	display: block;
	idth: 100%;
	height: 100%;
	
}

.background-image{
	width: 100%;
	height: 100%;
}
.img{
	position: absolute;
}
.bird{
	width: 150px;
    height: 150px;    
    animation: bird 6s infinite;
    top: 150px;
    left: 80px;
  
}
.sun{
	width: 140px;
    height: 140px;
    animation: sun 8s infinite;
    top: 10px;
    right: 340px;
}

.boat{
	width: 200px;
    height: 200px;
    animation: boat 15s infinite;
    bottom: 650px;
    right:3100px;
}
.dog{
	width: 200px;
    height: 200px;    
    animation: dog 10s infinite;
    bottom: 200px;
    left: 80px;

}
.girl{
	width: 250px;
    height: 250px;    
    animation: girl 8s infinite;
    bottom: 200px;
    right: 2100px;
}


@keyframes bird{
	0%{left: 0px}
	15%{left: 20px;}
	30%{left: 50px;}
	60%{left: 80px;}
	80%{left: 140px;}
	100%{left: 250px;}
} 
@keyframes sun{
	0%{transform: rotate(0deg);}
	0%{transform: rotate(50deg);}
	0%{transform: rotate(100deg);}
	0%{transform: rotate(200deg);}

}
@keyframes boat{
	0%{right: 250px}
	15%{right: 265px;}
	25%{right: 275px;}
	30%{right: 290px;}
	50%{right: 300px;}	
	80%{right: 310px;}	
	100%{right: 320px;}

}
@keyframes dog {
	0%{left: 0px;}
	15%{left: 15px;}	
	30%{left: 40px;}
	50%{left: 60px;}
	60%{left: 90px;}	
	80%{left: 130px;}
	90%{left: 170px;}
	100%{left: 210px;}
}
@keyframes girl {
	0%{right: 0px}
	15%{right: 15px;}
	25%{right: 25px;}
	30%{right: 40px;}
	50%{right: 60px;}
	60%{right: 90px;}
	70%{right: 110px;}
	80%{right: 140px;}	
	95%{right: 250px;}
	100%{right: 290px;}

}
